.imgWrapper {
  position: relative;
  max-width: "200px";
  max-height: "200px";
}

.img {
  max-width: "200px";
  max-height: "200px";
}

.delete {
  position: absolute;
  right: -8px;
  top: -12px;
  color: red;
  z-index: 10;
  cursor: pointer;
}
